# Set



```
# Set:  are similar to lists, but they do not allow repetition. Any duplicate item you delete immediately, just as â—
They arrange the elements, so they are {1,2,3,4,6,8}
```

In [ ]:

D = {1,1,2,2,6,8,4,6,3}
print(D)
#And you can write with the same conditions mentioned in the lists â—
a ={1,2,3,4,5,6,7,8,9,10,11,12}
#Only the least items are answered â—
print(a or D)
#Answer only the most elements â—
print(a and D)

#All items here and here â—
#a | b
print(a.union(D))
# #â— common items only
# #a & b
print(a.intersection(D))

print(a.difference(D))

{1, 2, 3, 4, 6, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 6, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 6, 8}
{5, 7, 9, 10, 11, 12}

# Conditional statement



```
# F is written, followed by a colon, then in the next line a space is left, and Python knows that thousands are finished.

```

In [ ]:
#When you find that the line is written without a space
x=4
if x != 5 :
  print('hello')
#If you use eles, it will be the line after it, and make two points, and go north â—
if x >= 5 :
  print('hello')
else :
  print('no')

hello
no

In [ ]:

grade = 60
if grade >= 65:
  print(" Ø¯Ø±Ø¬Ø© Ø§Ù„Ù†Ø¬Ø§Ø­")
else:
  print("Ø¯Ø±Ø¬Ø© Ø§Ù„Ø±Ø³ÙˆØ¨")

Ø¯Ø±Ø¬Ø© Ø§Ù„Ø±Ø³ÙˆØ¨

In [ ]:
#And if you want to use Else iF, write it elif 
if x >= 5 :
  print('hello')
elif x > 8 :
  print('yes')
else :
  print('no')

no

In [ ]:
#And it is possible not to create new lines, to be in the same line â—
if x != 5 : print('hello')
elif x > 8 : print('yes')
else :print('no')

hello

In [ ]:
a,b = 11,10
max = a if (a>b) else b
print (max)

11

# Loop

## While



```
# while [a condition is True]:
[do something]
```

It is done by writing the while and then the condition, and if it is true, the steps that are done are executed with a little right space
, and then return again to the condition of the wail to evaluate it, if it is false, then all the steps that follow are bypassed
Make a space, then go to the first step for which no space is made
We will take a number from the user, then the condition that it be less than or equal to 100, and the two conditions that will be implemented,
That the number is printed, and added to it by 1, and in the end after the end of the wail, the word done is displayed, which is
It is not made for a distance, so this will be implemented

In [ ]:
# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

In [ ]:
current_level = 0
final_level = 5

game_completed = True

while current_level <= final_level:
    if game_completed: 
        print('You have passed level', current_level)
        current_level += 1

print('Level Ends')

You have passed level 0
You have passed level 1
You have passed level 2
You have passed level 3
You have passed level 4
You have passed level 5
Level Ends

In [ ]:
import random
number = random.randint(1, 25)
number_of_guesses = 0
while number_of_guesses < 5:
  print('Guess a number between 1 and 25:')
  guess = input()
  guess = int(guess)
  number_of_guesses = number_of_guesses + 1
  if guess < number:
    print('Your guess is too low')
  if guess > number:
    print('Your guess is too high')
  if guess == number:
    break
  if guess == number:
    print('You guessed the number in ' + str(number_of_guesses)+ ' tries!')
  else:
    print('You did not guess the number. The number was ' +str(number))

Guess a number between 1 and 25:
4
Your guess is too low
You did not guess the number. The number was 14
Guess a number between 1 and 25:
12
Your guess is too low
You did not guess the number. The number was 14
Guess a number between 1 and 25:
17
Your guess is too high
You did not guess the number. The number was 14
Guess a number between 1 and 25:
14

## For



```
# for [iterating variable] in [sequence]:
[do something]
```

In [ ]:
for i in range(20):
  if i==10:
    break
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# to use for we use with it in after it the function Range  
# This the formal Write there is many shape it write
for n in range(5):
  print("Hello word")

Y="Python"
for i in range(len(Y)):
 print(Y[i])

for i in Y:
  if i=='h':
    continue
  print(i)

for i in range(20):
  if i%2==0:
    continue
  print(i)

In [ ]:
for i in d.values():
  print(i)

AI
CS
IT

In [ ]:
# And its possible  to use it with Dictionary  and there is many function we use it with it  we will see

d={"Mohammed":"AI","Omer":"CS","Omair":"IT"}
for i in d.items():
  print(i)

print("===================")
  #if we want to print every one we will make like this
for i,n in d.items():
    print(i)
    print(n)
print("===================")

#If You Want Print Just The Key
for i in d.keys():
  print(i)
print("===================")

#If You Want Print Just The Value
for i in d.values():
  print(i)

('Mohammed', 'AI')
('Omer', 'CS')
('Omair', 'IT')
===================
Mohammed
AI
Omer
CS
Omair
IT
===================
Mohammed
Omer
Omair
===================
AI
CS
IT

In [ ]:

#If i have two list and you want to merge it use 
#the Function Zip
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
zipped = zip(numbers, letters)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
#If you want make list from 1, to 200 it is so
#hard to write because  that there is way to make for inside list

a=[i for i in range(20) ]
print(a)
# and you can make conditions  in it
a=[i for i in range(20) if i%2==0 ]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# For inside for 
a=[(i,j) for i in range(5) for j in range(5) ]
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4)]

In [ ]:
# and we dont stop here you can make else with for ðŸ˜€
for x in range(5):
  print(x)
else:
  print(" Done")

0
1
2
3
4
 Done

In [ ]:

# if you want to collect or sum the number from 1 to any number ther is 
# an easy way in on line 
print(sum([i for i in range(20)]))

190

# Statistics Library



```
# The Statistics Library  is important  in analysis data you should Understand well
```

In [ ]:
#It is an important library for dealing with statistical values in Python
#It is call by:
import statistics as st
#- Then the symbol st is dealt with

In [ ]:
# You can count the average with
b=[1,2,3,4,3,5,6,7]
a=st.variance(b)
print(a)

4.125

In [ ]:
# Median
a=st.median(b)
print(a)

#Least Median: If the number of values is odd, it will be the same as the value in the text (the same field), but if it is even, instead of adding the two in the text and dividing it by 2, I will take the lesser value.
a=st.median_low(b)
print(a)

#Highest Median: The same idea as the lowest, but we take the highest if the number of digits is even
a=st.median_high(b)
print(a)

#Mode: The most frequently repeated number
a=st.mode(b)
print(a)

#standard deviation
a=st.stdev(b)
print(a)

#variance
a=st.variance(b)
print(a)

3.5
3
4
3
2.03100960115899
4.125

# Random Library

In [ ]:
#It is for random numbers, and 
#it is called with the command:
import random as rn

#A random number between zero and one
a=rn.random()
print(a)

0.9598593111089591

In [ ]:
#Give a integer number from 1 to 20
a=rn.randint(1,20)
print(a)

14

In [ ]:
#A decimal number between 1 and 20
a=rn.uniform(1,20)
print(a)

4.3340102276377115

In [ ]:
#Gives an integer number from zero to 150
a=rn.randrange(150)
print(a)

50

In [ ]:
# give a number from 0 to 20, but it will be from steps 2, (even)
a=rn.randrange(0,20,2)
print(a)

10

In [ ]:
#selects one of the elements
a=rn.choice(['a','b','c','d'])
print(a)

b

In [ ]:
#chooses one of the letters at random
a=rn.choice(" Hello World")
print(a)

l

In [ ]:
#selects ten items, from zero to 200
a=rn.sample(range(200),10)
print(a)

[199, 158, 129, 48, 131, 21, 182, 61, 103, 53]

In [ ]:
#It randomizes the list
i=[1,2,3,4,5,6]
rn.shuffle(i)
print(i)

[4, 3, 6, 5, 1, 2]

# Function



```
#Def is first written before it, then the name of the function, then 
parentheses (), which will be used as empty if there are no parameters, and when
Call it anywhere, write its name and then parentheses, but the function must 
read the first
```

In [ ]:
def First():
  print("Hello Function")

#A function must be defined before it can be used
First()

Hello Function

In [ ]:
#Instead of calling the function, I can name an element with the name of the function, and call the element
def First():
  print("Hello Function")

a=First
a()

Hello Function

In [ ]:
#It is possible to use the function,
# by entering specific values in it, 
#and its name is args,
# which first can determine what these values are exactly
def accept_arg(a,b):
   print(a*b)
  
accept_arg(2,3)

6

In [ ]:
#It is possible to make args undefined,
# by writing * before the variable, and then it will be list

def many_arg(*num):
  sum=0
  for i in num:
    sum+=i
  print(sum)

many_arg(2,3)
many_arg(2,3,4,5,6,7)
many_arg(2,3,1,5,3,2,4,2,4,2,3)

5
27
31

In [ ]:
#There are so-called kwargs that send a dictionary instead of a list as variables, and start with **

def dic_kwarg(**val):
  print(val)

dic_kwarg(one=1,tow=2,three=3)

{'one': 1, 'tow': 2, 'three': 3}

In [ ]:
# Example  for all

def all(i,j,*args,**kwargs):
  print("i = ",i)
  print("j = ",j)
  print("args = ",args)
  print("kwargs = ",kwargs)


all(1,2,3,4,5,6,7,a=7,w=9)
print("=======================")
all(1,2,3,4,5)
print("=======================")
all(1,2)

i =  1
j =  2
args =  (3, 4, 5, 6, 7)
kwargs =  {'a': 7, 'w': 9}
=======================
i =  1
j =  2
args =  (3, 4, 5)
kwargs =  {}
=======================
i =  1
j =  2
args =  ()
kwargs =  {}

In [ ]:
# another Example 

def student(name,age=0,country=""):
  print(name,age,country)


student(name="mohammed")
student(name="mohammed",age=20)
student(name="mohammed",age=22,country="Yemen")

mohammed 0
mohammed 20
mohammed 22 Yemen

In [ ]:
# The return command can be used to assign a value to a function

def summ(a,b):
  return a+b
summ(3,7)

10

In [ ]:
#Nested functions can be made

def add(a,b):
  return a+b

def poww(a):
  return a**2 

def sub(a):
  return a-10

print(sub(poww(add(4,2))))

26

In [ ]:
#Lambda is a short and clever use of functions. I mean, I will quickly create a function without doing the capital form.
#of the function
#Simply write the name of the function powers equal to the length of the elements used x , y after which two colons: after the output
#What is it worth?

power=lambda x,y:x**y
print(power(4,2))

add=lambda x,y:x+y
print(add(3,7))

16
10

In [ ]:
#Filter is a way to select certain numbers, based on a specific condition, often the condition is in lambda
#I mean, here we said that the list is such and such numbers, then I say that the even numbers are the same, with a filter (a, b)
#A: It is set for a period of time, if it is verified, the filter will be activated, if it is not verified, it will not be activated
#B: The original list from which he will be taken

x_list=[1,2,3,4,5,6,7,8,9]

even_number=list(filter(lambda x:x<=5,x_list))
print(even_number)

[1, 2, 3, 4, 5]

In [ ]:
# map Function, it implements a specific function (lambda) on all elements

x_list=[1,2,3,4,5,6,7,8,9]
pow=list(map(lambda x:x**2,x_list))
print(pow)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
print ("\n".join(["\t".join(["%s*%s=%s" %(x,y,x*y) for y in range(1, x+1)]) for x in range(1, 10)]))

1*1=1
2*1=2	2*2=4
3*1=3	3*2=6	3*3=9
4*1=4	4*2=8	4*3=12	4*4=16
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

# Class



```
It is possible to create a new class by typing class, followed by its name, followed by a colon, then variables or functions
```

In [ ]:
class car:
  length=15
  width=8
  height=6
  color="white"
  volume=length*width*height

c=car()
print(c.length)
print(c.width)
print(c.height)

print(c.volume)

15
8
6
720



```
#And if the class is saved in a file with the extension py, I can make it call and use all the 
functions and variables in it

from myclasses import car

Or it is possible to recall all the classes saved in it

from myclasses import *
```



```
In general, there are two types of variables in any class
The Class Variable which is the variable whose value is heard in all copies that are taken from it, so if it is changed from
One of the copies, its value changes in the original, and therefore the rest of the copies see the change


The Instance variable , which is the variable whose value is in each version, is its own and does not affect me
Its original value or its value in the rest of the copies
```

In [ ]:
#class Variable

class car():
  color="blue"

volvo=car 
nissan=car
print(volvo.color)
print(nissan.color)

blue
blue

In [ ]:
#instance variable

class car():

  def __init__(self,color):
    self.color=color

volvo=car("White")
nissan=car("green")
print(volvo.color)
print(nissan.color)

White
green



```
Ok, if I want to make a definition of a method:
The methods are the same as the functions used in normal programming
Write the name of the root function, and it contains an element that will be used inside the function. Do the command you want to print
From the init, I specify an element to be entered to be used in the function. In the function, I have to write self. roots
You will be equal to this
Finally, end the function after I have entered the values```

In [ ]:
class d:
  def __init__(self,p2,p3):
    self.power2=p2**2
    self.power3=p3**3
  def root(self):
    print(self.power2)
    print(self.power3)

a=d(3,2)
a.root()

9
8